{% extends 'temp_inheritance/base.html'%}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">roll</th>
            <th scope="col">address</th>
            <th scope="col">phone</th>
        </tr>
        </thead>
        {%for value in profile%}
        <tbody>
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{value.student.name}}</td>
            <td>{{value.roll}}</td>
            <td>{{value.address}}</td>
            <td>{{value.phone}}</td>
        </tr>
        </tbody>
        {%endfor%}
</table>
{%endblock%}